<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-round-back" [routerLink]="['/']"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{"About Us"|translate}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" [routerLink]="['/']"> Home
      </ion-button>
      <ion-button fill="clear" [routerLink]="['/categories4/0/0']">Categories
      </ion-button>
      <!-- <ion-button fill="clear" [routerLink]="['/wish-list']">My Wish List
       </ion-button> -->
      <ion-button fill="clear" [routerLink]="['/chng-city']">Change City
      </ion-button>
      <ion-button fill="clear" [routerLink]="['/about-us']">About Us
      </ion-button>  
      <ion-button fill="clear" [routerLink]="['/settings']">Settings
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button fill="clear" routerLink="/search" routerDirection="forward">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button fill="clear" routerLink="/cart" routerDirection="forward">
        <ion-icon name="basket"></ion-icon>
        <ion-badge color="secondary">{{shared.cartTotalItems()}}</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-col size-lg="6" offset-lg="3" size-xl="6" offset-xl="3"></ion-col> -->
  <ion-card style="text-align: center; margin: 20px 20% 0 20%; width: 60%;">
  <ion-text class="ion-no-padding">
    <p [innerHTML]="shared.aboutUs">
    </p>
  </ion-text>
  <ion-list>
    <ion-item (click)="openSite()" lines="full">
      {{"Official Website"|translate}}
      <ion-icon name="arrow-forward" slot="end"></ion-icon>
    </ion-item>
    <ion-item (click)="showModal('privacyPolicy')" lines="full">
      {{'Privacy Policy'|translate}}
      <ion-icon name="arrow-forward" slot="end"></ion-icon>
    </ion-item>
    <ion-item (click)="showModal('refundPolicy')" lines="full">
      {{'Refund Policy'|translate}}
      <ion-icon name="arrow-forward" slot="end"></ion-icon>
    </ion-item>
    <ion-item (click)="showModal('termServices')" lines="none">
      {{'Term and Services'|translate}}
      <ion-icon name="arrow-forward" slot="end"></ion-icon>
    </ion-item>
  </ion-list>
</ion-card>
</ion-content>